<section class="about section" id="about">
   <div class="container">
    <div class="row gy-4 gx-5">
     <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
      <img alt="" class="img-fluid" src="/assets/img/about.jpg"/>
      <a class="glightbox pulsating-play-btn" href="https://youtu.be/Wte-hSsIJZE?si=nD16rMwfO2sS33HX">
      </a>
     </div>
     <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
      <h3>
       About Us
      </h3>
      <p>
       At MediLab, we believe healthcare should be fast, accurate, and centered around you. Our mission is to make high-quality diagnostics and medical services accessible to everyone — combining advanced technology, skilled professionals, and a deep commitment to patient care. With a team of experienced doctors, certified technicians, and caring staff, we deliver precise results and personalized attention every step of the way. From routine tests to specialized diagnostics, MediLab ensures reliability, transparency, and trust in every service we provide. Because at the heart of everything we do is one simple promise — your health comes first.
      </p>
      <ul>
       <li>
        <i class="fa-solid fa-vial-circle-check">
        </i>
        <div>
         <h5>
          Innovation at Work
         </h5>
         <p>
          Our lab is equipped with the latest medical technology for faster, more accurate results.
Modern tools mean better insights — and better health decisions for you.
         </p>
        </div>
       </li>
       <li>
        <i class="fa-solid fa-pump-medical">
        </i>
        <div>
         <h5>
          Clean Spaces, Safe Care
         </h5>
         <p>
          Your safety starts with spotless standards.
At MediLab, we maintain the highest levels of hygiene and sterilization to ensure every visit is worry-free.
         </p>
        </div>
       </li>
       <li>
        <i class="fa-solid fa-heart-circle-xmark">
        </i>
        <div>
         <h5>
          Built on Trust, Driven by Care
         </h5>
         <p>
          We treat every patient with respect, empathy, and honesty.
Because real healing begins when you know you’re in good hands.
         </p>
        </div>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </section>
  <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-solid fa-user-doctor"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
              <p>Doctors</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fa-regular fa-hospital"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
              <p>Departments</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fas fa-flask"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="6" data-purecounter-duration="1" class="purecounter"></span>
              <p>Research Labs</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
            <i class="fas fa-award"></i>
            <div class="stats-item">
              <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
              <p>Awards</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>

    </section><!-- /Stats Section -->
  
