
  <section class="appointment section" id="appointment">
   <!-- Section Title -->
   <div class="container section-title" data-aos="fade-up">
    <h2>
     Appointment
    </h2>
    <p>
     Book your appointment today and take the first step toward better health.
     <b>
      Please note:
     </b>
     At this time, online booking is available for appointments with only four of our doctors. We appreciate your understanding and will update availability soon.
    </p>
   </div>
   <!-- End Section Title -->
   <div class="container" data-aos="fade-up" data-aos-delay="100">
    <form action="forms/appointment.php" class="php-email-form" method="post" role="form">
     <div class="row">
      <div class="col-md-4 form-group">
       <input class="form-control" id="name" name="name" placeholder="Your Name" required="" type="text"/>
      </div>
      <div class="col-md-4 form-group mt-3 mt-md-0">
       <input class="form-control" id="email" name="email" placeholder="Your Email" required="" type="email"/>
      </div>
      <div class="col-md-4 form-group mt-3 mt-md-0">
       <input class="form-control" id="phone" name="phone" placeholder="Your Phone" required="" type="tel"/>
      </div>
     </div>
     <div class="row">
      <div class="col-md-4 form-group mt-3">
       <input class="form-control datepicker" id="date" name="date" placeholder="Appointment Date" required="" type="datetime-local"/>
      </div>
      <div class="col-md-4 form-group mt-3">
       <select class="form-select" id="department" name="department" required="">
        <option value="">
         Select Department
        </option>
        <option value="Department 1">
         Neurology
        </option>
        <option value="Department 2">
         Hepatology
        </option>
        <option value="Department 3">
         Pediatrics
        </option>
        <option value="Department 3">
         Eye Care
        </option>
        <option value="Department 4">
         Cardiology
        </option>
       </select>
      </div>
      <div class="col-md-4 form-group mt-3">
       <select class="form-select" id="doctor" name="doctor" required="">
        <option value="">
         Select Doctor
        </option>
        <option value="Doctor 1">
         Sarah Jhonson
        </option>
        <option value="Doctor 2">
         Walter White
        </option>
        <option value="Doctor 3">
         William Anderson
        </option>
        <option value="Doctor 3">
         Amanda Jepson
        </option>
       </select>
      </div>
     </div>
     <div class="form-group mt-3">
      <textarea class="form-control" name="message" placeholder="Message (Optional)" rows="5"></textarea>
     </div>
     <div class="mt-3">
      <div class="loading">
       Loading
      </div>
      <div class="error-message">
      </div>
      <div class="sent-message">
       Your appointment request has been sent successfully. Thank you!
      </div>
      <div class="text-center">
       <button type="submit">
        Make an Appointment
       </button>
      </div>
     </div>
    </form>
   </div>
  </section>

