
<section class="gallery section" id="gallery">
   <!-- Section Title -->
   <div class="container section-title" data-aos="fade-up">
    <h2>
     Gallery
    </h2>
    <p>
     Where Every Picture Reflects Our Commitment to Health
    </p>
   </div>
   <!-- End Section Title -->
   <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
    <div class="row g-0">
     <div class="col-lg-3 col-md-4">
      <div class="gallery-item">
       <a class="glightbox" data-gallery="images-gallery" href="/frontend/assets/img/gallery/gallery-1.jpg">
        <img alt="" class="img-fluid" src="/frontend/assets/img/gallery/gallery-1.jpg"/>
       </a>
      </div>
     </div>
     <!-- End Gallery Item -->
     <div class="col-lg-3 col-md-4">
      <div class="gallery-item">
       <a class="glightbox" data-gallery="images-gallery" href="/frontend/assets/img/gallery/gallery-2.jpg">
        <img alt="" class="img-fluid" src="/frontend/assets/img/gallery/gallery-2.jpg"/>
       </a>
      </div>
     </div>
     <!-- End Gallery Item -->
     <div class="col-lg-3 col-md-4">
      <div class="gallery-item">
       <a class="glightbox" data-gallery="images-gallery" href="/frontend/assets/img/gallery/gallery-3.jpg">
        <img alt="" class="img-fluid" src="/frontend/assets/img/gallery/gallery-3.jpg"/>
       </a>
      </div>
     </div>
     <!-- End Gallery Item -->
     <div class="col-lg-3 col-md-4">
      <div class="gallery-item">
       <a class="glightbox" data-gallery="images-gallery" href="/frontend/assets/img/gallery/gallery-4.jpg">
        <img alt="" class="img-fluid" src="/frontend/assets/img/gallery/gallery-4.jpg"/>
       </a>
      </div>
     </div>
     <!-- End Gallery Item -->
     <div class="col-lg-3 col-md-4">
      <div class="gallery-item">
       <a class="glightbox" data-gallery="images-gallery" href="/frontend/assets/img/gallery/gallery-5.jpg">
        <img alt="" class="img-fluid" src="/frontend/assets/img/gallery/gallery-5.jpg"/>
       </a>
      </div>
     </div>
     <!-- End Gallery Item -->
     <div class="col-lg-3 col-md-4">
      <div class="gallery-item">
       <a class="glightbox" data-gallery="images-gallery" href="/frontend/assets/img/gallery/gallery-6.jpg">
        <img alt="" class="img-fluid" src="/frontend/assets/img/gallery/gallery-6.jpg"/>
       </a>
      </div>
     </div>
     <!-- End Gallery Item -->
     <div class="col-lg-3 col-md-4">
      <div class="gallery-item">
       <a class="glightbox" data-gallery="images-gallery" href="/frontend/assets/img/gallery/gallery-7.jpg">
        <img alt="" class="img-fluid" src="/frontend/assets/img/gallery/gallery-7.jpg"/>
       </a>
      </div>
     </div>
     <!-- End Gallery Item -->
     <div class="col-lg-3 col-md-4">
      <div class="gallery-item">
       <a class="glightbox" data-gallery="images-gallery" href="/frontend/assets/img/gallery/gallery-8.jpg">
        <img alt="" class="img-fluid" src="/frontend/assets/img/gallery/gallery-8.jpg"/>
       </a>
      </div>
     </div>
     <!-- End Gallery Item -->
    </div>
   </div>
  </section>
   <script src="/frontend/assets/js/main.js"></script>